@import 'tailwindcss';

body { 
  margin:0;
  font-family:'Courier New', Courier, monospace;

}
.btn{
  @apply px-4 py-2 rounded font-medium transition-colors;
}

.btn-primary{
  @apply bg-blue-600 text-white hover:bg-blue-900
}
.btn-secundary{
  @apply bg-gray-600 text-white hover:bg-gray-900
}
.btn-danger{
  @apply bg-red-500 text-white hover:bg-red-900
}

.input {
  @apply border border-gray-300 p-2 rounded block w-full mb-4 focus:border-blue-500 outline-none;
}

